* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

p {
  color: #000000;
  font-weight: 300;
}

h1 {
  font-size: 18px;
}

.views,
h2 {
  font-size: 14px;
}

.descricao {
  font-size: 16px;
}

.infos p {
  font-size: 11px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 17px;
  width: 900px;
  background-color: #f7f7f7;
  padding: 38px 35px 19px 35px;
}

.video-side {
  display: flex;
  gap: 4px;
  margin-top: 15px;
}

.video-side:last-child {
  margin-bottom: 36px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titulo-video {
  margin-top: 12px;
  margin-bottom: 7px;
}

.views {
  margin-bottom: 9px;
}
